click==8.1.3 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0"
commonmark==0.9.1 ; python_version >= "3.10" and python_version < "4.0"
loguru==0.6.0 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.13.0 ; python_version >= "3.10" and python_version < "4.0"
pyqt5-qt5==5.15.2 ; python_version >= "3.10" and python_version < "4.0"
pyqt5-sip==12.11.0 ; python_version >= "3.10" and python_version < "4.0"
pyqt5==5.15.7 ; python_version >= "3.10" and python_version < "4.0"
rich==12.6.0 ; python_version >= "3.10" and python_version < "4.0"
shellingham==1.5.0 ; python_version >= "3.10" and python_version < "4.0"
typer[all]==0.6.1 ; python_version >= "3.10" and python_version < "4.0"
win32-setctime==1.1.0 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
workflow-manager @ git+https://github.com/martokk/workflow_manager.git@main ; python_version >= "3.10" and python_version < "4.0"
